<app-navegacion></app-navegacion>

<div class="container hm">
  <div class=" d-flex flex-row">
    <div class="col-12 col-lg-9">
      <div class="card mb-3">

        <div class="card-body">
          <div class="row">
            <div class="col-sm-4">
              <h3 class="mb-0">Nombre Completo:</h3>
            </div>
            <div class="col-sm-8 text-secondary">
              <label>
                {{usuario.nombre + ' ' + usuario.apellido}}
              </label>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-4">
              <h3 class="mb-0">Correo electronico:</h3>
            </div>
            <div class="col-sm-8 text-secondary">
              {{usuario.correo}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-4">
              <h3 class="mb-0">Telefono:</h3>
            </div>
            <div class="col-sm-8 text-secondary">
              {{usuario.telefono}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-4">
              <h3 class="mb-0">Cedula:</h3>
            </div>
            <div class="col-sm-8 text-secondary">
              {{usuario.cedula}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-4">
              <h3 class="mb-0">Rol:</h3>
            </div>
            <div class="col-sm-8 text-secondary" *ngIf='usuario.idRol == 1'>
                Administrador
            </div>
            <div class="col-sm-8 text-secondary" *ngIf='usuario.idRol == 3'>
                Poster
            </div>
            <div class="col-sm-8 text-secondary" *ngIf='usuario.idRol == 2'>
                Usuario
            </div>
          </div>
          <br>
          <!-- <hr> -->
          <!-- <div class="row">
            <div class="col-sm-4">
              <h3 class="mb-0">Direccion:</h3>
            </div>
            <div class="col-sm-8 text-secondary">
                {{usuario.}}
            </div>
          </div><br> -->
          <div class="row">
            <div class="col-sm-12">
              <a class="btn btn-warning"  (click)="onDetalle()" title="Editar Perfil" target="__blank"> <i class="bi bi-pencil-square" ></i> Editar Perfil</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-pie></app-pie>