<app-navegacion></app-navegacion>


<div class="container mt-3 hm">
  <div class="row">
    <div class="col-12 col-md-4">
      <form>
        <input class=" form-control" type="text" name="buscarCategoria" id="buscarCategoria"
          placeholder="Buscar Categoria"  value="" [(ngModel)]="filtro">
      </form>
    </div>
  </div>

  <div class="table table-s" *ngFor='let categoria of categorias | filtroTabla: filtro'>
    <table class="table my-3">
      <thead>
        <tr>
          <th colspan="4" class=" text-center"> {{categoria.nombre}} </th>
        </tr>
        <tr>
          <th> Compañia </th>
          <th> Posición </th>
          <th> Ubicación </th>
          <th>  </th>
        </tr>
      </thead>
        <tbody>
          <tr *ngFor="let vacante of vacantes; index as i">
            <td *ngIf='vacante.idCategoria == categoria.idCategoria && i<=fila'> {{vacante.compania}} </td>
            <td *ngIf='vacante.idCategoria == categoria.idCategoria && i<=fila'> {{vacante.posicion}} </td>
            <td *ngIf='vacante.idCategoria == categoria.idCategoria && i<=fila'> {{vacante.ubicacion}} </td>
            <td *ngIf='vacante.idCategoria == categoria.idCategoria && i<=fila'> <a class="btn btn-success justify-content-around" (click)="onWacht(vacante,categoria.nombre)"><i class="bi bi-eye"></i> Ver </a></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4" class=" text-center mx-auto" >
              <a class=" text-decoration-none" routerLink="/Ofertas/{{categoria.idCategoria}}/{{categoria.nombre}}"> <i class="bi bi-eye"> Ver mas vacantes
              </i></a>
            </td>          
          </tr>
        </tfoot>
      <ng-template>

      </ng-template>
    </table>
  </div>
</div>

<app-pie></app-pie>