<div>
    <div class=" justify-content-between row">
        <div class="col-12 col-md-4">
            <form>
                <input class=" form-control" type="text" name="buscarPost" id="buscarPost" placeholder="Buscar Post"
                    (keyup)="setFiltro($event)" value="" [(ngModel)]="filtro">
            </form>
        </div>
        <div class="col-12 col-md-auto">
            <button class="btn btn-success" (click)="onCreate()">
                <i class="bi bi-person-plus mx-1"></i> Agregar Post
            </button>
        </div>
    </div>

    <div class="mt-2">
        <div *ngIf="datoCargada; else sinData">
            <table mat-table [dataSource]="dataSource">

                <!-- Position Column -->
                <ng-container matColumnDef="Compañia">
                    <th mat-header-cell *matHeaderCellDef> Compañia </th>
                    <td mat-cell *matCellDef="let element"> {{element.compania}} </td>
                </ng-container>

                <ng-container matColumnDef="Posición">
                    <th mat-header-cell *matHeaderCellDef> Posición </th>
                    <td mat-cell *matCellDef="let element"> {{element.posicion}} </td>
                </ng-container>

                <ng-container matColumnDef="Ubicación">
                    <th mat-header-cell *matHeaderCellDef> Ubicación </th>
                    <td mat-cell *matCellDef="let element"> {{element.ubicacion}} </td>
                </ng-container>


                <ng-container matColumnDef="Opciones">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element"  class=""> 
                        <a class="btn btn-success"
                            (click)="onWacht(element)">
                            <i class="bi bi-eye"></i></a>

                        <a class="btn btn-warning"
                            (click)="onEditar(element)">
                            <i class="bi bi-pencil-square"></i></a>
                        <a class="btn btn-danger"
                            (click)="eliminar(element.idVacante)">
                            <i class="bi bi-trash"></i></a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
    <ng-template #sinData>
        <div class="w-25 mx-auto">
            <img src="assets/ic_file.svg" class="" alt="">
            <h2>Sin registro</h2>
        </div>
    </ng-template>
</div>