<nav class="navbar navbar-expand-lg navbar-dark  bg-blue-p mb-4">
    <div class="container-fluid">
        <a class="navbar-brand  mx-3" routerLink="/Principal">
            <img src="assets/login-white.svg" alt="" width="30" height="30" class="d-inline-block align-top">
            Job.com
        </a>

        <div >
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active" *ngIf='rol==1'>
                        <a class="nav-link" routerLink='/Cargando_Administrador'> Administrador </a>
                    </li>
                    <li class="nav-item" *ngIf='rol==3'>
                        <a class="nav-link" routerLink="/Mis_post"> Ver mis post </a>
                    <li class="nav-item">
                        <a class="nav-link" (click)='mis_post()'> {{usuario}} </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"  (click)='salir()'> <i class="bi bi-door-closed-fill"> Salir </i>  </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>